.gear {
  height: 133px;
  width: 133px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gear .vector {
  height: 110px;
  width: 107px;
  color: var(--dark-color); /* default color */
  transition: color 0.3s ease, transform 0.3s ease;
}

.gear:hover .vector {
  color: var(--accent-color); /* hover color */
  transform: rotate(30deg); /* optional, adds gear rotation effect */
}
